@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0; 
    padding: 0; 
}
 .background-image{
    background-image: url('/public/images/Poster.png');
    height: 650px;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;    
    margin: 0;
    padding: 0;
    width: 100%;
} 

/* input::placeholder{
    color: whitesmoke;
} */
.search-container{
    position: relative;
    max-width: 600px; /* Adjust the maximum width as needed */
    
}

/* .input{
    cursor: pointer;
    width: 300px;
    padding: 10px;
    padding-left: 50px;
    font-size: 16px;

} */
@media only screen and (min-width: 1000px) {
  .input{
   width: 500px;
   padding-left: 100px;
  }
  .background-image{
    height: 650px;
  }
  .card{
    width: 260px;
  }
 
}